body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.fondo {
    background: -webkit-linear-gradient(90deg, #09090c,#1a1b23);background: linear-gradient(90deg, #09090c,#1a1b23);
}

.miTexto {
    font-size: 1.5em;
    color: white;
    padding: 0em 6em 0em 6em;
    text-align: justify;

}

.head {
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}



.imag {
    width: 200px;
    height: 200px;
    border-radius: 5%;

}


.cards {
     border: 1px solid gray;
     width: fit-content;
     padding: 1em 2em 1em 2em;
     border-radius: 10%;
     display: flex;
     flex-direction: column;
     text-align: center;
     color: white;
}


.cards:hover {
    background-color: rgba(0, 0, 0, 0.3);
}



#cards-container {
    width: 60vw;
    margin: auto;
    border: 1px solid gray;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 45px;
    margin-bottom: 3vw;
}


#form {
    padding: 1em;
    border: 0.5px solid gray;
    border-radius: 20px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    color: white;
    
}




.imageperf {
    width: 300px;
    border-radius: 50%;
    padding: 1em 0em 1em 0em;

}

#container-footer {
    background: -webkit-linear-gradient(90deg, #09090c,#1a1b23);background: linear-gradient(90deg, #09090c,#1a1b23);
    margin: auto;
    padding: 1.5em;
    border-radius: 30px;
    width: 40vw;
    display: flex;
    justify-content: flex-end;

}

.title-footer {
    color: white;
    margin: 0;
    font-size: 1em;
    padding: 0.5em 0em 0 0.5em;
    left: 50%;
    transform: translate(-150%);

    
    
}



.img-footer {
    width: 65px;
    height: 65px;
    bottom: 0;
    border-radius: 20px;
    left: 50%;
    transform: translate(-340%);
}

input[type="text"] {
    width: 45%;
    margin-top: 5px;
    border: 1px solid gray;
    padding: 7px;
    background-color: transparent;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: white;
}


input[type="text"]:focus {
    border-color: rgb(62, 78, 92);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); 
    outline: none; 
}

.send {
    width: 80px;
    border: 1px solid gray;
    border-radius:25px;
    margin-top: 7px;
    padding: 5px;
    cursor: pointer;
}

.send:hover {
    background-color: rgba(153, 141, 141, 0.1);
    transform: scale(0.98);
}

